<table class="gameboard">
  <tr>
    <td><br></td><!-- refactor padding -->
  </tr>
  <tr>
    <td>
    <img src="/images/<%= session[:user_profile] %>.png" width="128" height="128">
    </td>
    <td>
      <img src="/images/vs.gif" alt="Let's get ready to rumble!!!" width="64" height="64">
    </td>
    <td>
      <img src="/images/computer.png" alt="Beep boop bing! ...computing ..." width="128" height="128">
    </td>
  </tr>
  
  <tr>
    <td></td>
    <td><br><br> <!-- refactor padding -->
      <p class="important tips">What will you choose?</p>
    </td>
    <td></td>
  </tr>

  <tr>
    <table class="gameboard choices">
      <tr>
        <% VALID_CHOICES.each do |choice| %>
          <td>
            <form id="<%= choice %>" action="/play" method="post">
              <input type="hidden" name="move" value="<%= choice %>">
              <input form="<%= choice %>" type="image" src="images/<%= choice %>.png" width="64" height="64" alt="submit" />
            </form>
          </td>
        <% end %>
      </tr> 
    </table>
  </tr>

</table>
