<table>
  <tr>  
    <td>
      
      <div class="center">
        <h4>SCOREBOARD</h4>

        <table class="score">
          <tr class="score">
            <td>You</td>
            <td>Computer</td>
          </tr>
          <tr class="score">
            <td><%= session[:players][:you][:score] %></td>
            <td><%= session[:players][:computer][:score] %></td>
          </tr>
        </table>
      </div>

      <div>
        <ul>
          <% session[:history].each do |round| %>
            <li><%= round %></li>
          <% end %>
        </ul>
      </div>
    </td>

    <td>
      <table class="gameboard" class="center">
        <tr class="game_center">
          <td>
            <img src="/images/robot.png" width="128" height="128">
          </td>
          <td>
            <img src="/images/vs.gif" alt="Let's get ready to rumble!!!" width="64" height="64">
          </td>
          <td>
            <img src="/images/computer.png" alt="Beep boop bing! ...computing ..." width="128" height="128">
          </td>
        </tr>
        
        <tr>
          <td></td>
          <td class="game_center">What will you choose?</td>
          <td></td>
        </tr>
        <tr class="game_center">
          <table>
            <tr>
              <% VALID_CHOICES.each do |choice| %>
                <td>
                  <form id="<%= choice %>" action="/play" method="post">
                    <input type="hidden" name="move" value="<%= choice %>">
                    <input form="<%= choice %>" type="image" src="images/<%= choice %>.png" width="64" height="64" alt="submit" /></td>
                  </form>
                </td>
              <% end %>
            </tr> 
          </table>
        </tr>

      </table>
    </td>

  </tr>
</table>











<ul>
  <% session.each do |k, v| %>
    <li><%= k %>: <%= v %></li>
  <% end %>
</ul>
